In [2]:
import pandas as pd
import numpy as np
from time import sleep
from tqdm import tqdm, trange

# Fake data

In [24]:
dogs = np.random.choice(['a','b','c','d'], size = 50000)
smell = np.random.randint(0,100, size = 50000)
df = pd.DataFrame(data = np.array([dogs,smell]).T,
                 columns = ['dogs', 'smell'])

In [44]:
df.head()

  dogs smell
0    d    17
1    a    87
2    d    64
3    c    83
4    a    37

In [10]:
for dog in tqdm(dogs):
    sleep(0.0001)
print('done')

100%|███████████████████████████████████| 50000/50000 [00:06<00:00, 7313.69it/s]

done

In [11]:
# don't know how large it is
for dog in tqdm(dogs, total=60000):
    sleep(0.00001)
print('done')

 83%|████████████████████████████▎     | 50000/60000 [00:00<00:00, 61385.84it/s]

done

In [14]:
# we don't need to put tqdm in the loop , for example a while loop when we 
# don't know when it will end
pbar = tqdm(total=50000)
for s in smell:
    pbar.update(1)
    sleep(0.000001)
pbar.close()

100%|███████████████████████████████████| 50000/50000 [00:24<00:00, 2040.24it/s]
100%|█████████████████████████████████| 50000/50000 [00:00<00:00, 228151.18it/s]

# Setting description and unit

In [15]:
for dogs in tqdm(dogs, desc='dog counter', unit='barks'):
    sleep(0.000001)

dog counter: 100%|█████████████████| 50000/50000 [00:00<00:00, 220971.02barks/s]

# Nested progress bar

In [17]:
for dog in tqdm(dogs[:5], desc='dog counter',total=5):
    for s in tqdm(smell[:2], desc='smell counter',total=2):
        sleep(0.05)

dog counter:   0%|                                        | 0/5 [00:00<?, ?it/s]
smell counter:   0%|                                      | 0/2 [00:00<?, ?it/s]
smell counter: 100%|██████████████████████████████| 2/2 [00:00<00:00, 17.30it/s]
dog counter:  20%|██████▍                         | 1/5 [00:00<00:00,  8.17it/s]

In [25]:
dogs[:10]

array(['d', 'a', 'd', 'c', 'a', 'a', 'c', 'b', 'd', 'c'], dtype='<U1')

## dynamic description

In [27]:
# we can know what we are processing
pbar = tqdm(dogs[:10])
for dog in pbar:
    sleep(1)
    pbar.set_description(f'progressing: {dog}')

progressing: c: 100%|███████████████████████████| 10/10 [00:10<00:00,  1.01s/it]

## Control bar size

In [30]:
for i in tqdm(range(50000),ncols=55):
    sleep(0.000001)
for i in tqdm(range(50000),ncols=20):
    sleep(0.000001)
for i in tqdm(range(50000),ncols=4):
    sleep(0.000001)

100%|████████| 50000/50000 [00:00<00:00, 222688.12it/s]
100%|█| 50000/50000
100%

## setting the interval

In [39]:
for i in tqdm(range(50000),ncols=55):
    sleep(0.0001)

100%|██████████| 50000/50000 [00:06<00:00, 7437.45it/s]

In [36]:
for i in tqdm(range(50000),ncols=55,mininterval =1):
    sleep(0.0001)

100%|██████████| 50000/50000 [00:06<00:00, 7514.98it/s]

In [37]:
for i in tqdm(range(50000),ncols=55,maxinterval =100):
    sleep(0.00001)

100%|█████████| 50000/50000 [00:00<00:00, 64843.09it/s]

## disable progress bar

In [42]:
debuging = False
# debuging = True
for i in tqdm(range(50000),ncols=55, disable = not debuging):
    sleep(0.0001)

## tqdm with pandas

In [52]:
tqdm.pandas(desc='my bar')
df['2'] = df['smell']*2
df['2'] = df.progress_apply['smell']*2

TypeError: 'method' object is not subscriptable

In [51]:
df

      dogs smell     2
0        d    17  1717
1        a    87  8787
2        d    64  6464
3        c    83  8383
4        a    37  3737
...    ...   ...   ...
49995    a    85  8585
49996    b    13  1313
49997    a    57  5757
49998    c    97  9797
49999    d    20  2020

[50000 rows x 3 columns]