## Add progress bar to pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'col1':np.random.normal(size=20000)})

In [3]:
df.head()

       col1
0  0.555217
1  1.555911
2 -1.360451
3  0.619203
4  0.625714

In [5]:
%%timeit
df['col1'].apply(lambda x:x**3)

5.66 ms ± 139 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [6]:
from tqdm import tqdm

In [11]:
tqdm.pandas(desc = 'square')

In [12]:
df['col2'] = df['col1'].progress_apply(lambda x:x**2)

square: 100%|█████████████████████████| 20000/20000 [00:00<00:00, 545150.22it/s]

In [13]:
df.head()

       col1      col2
0  0.555217  0.308266
1  1.555911  2.420861
2 -1.360451  1.850827
3  0.619203  0.383412
4  0.625714  0.391517